.navbar {
  background-color: #333;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.navbar-nav li {
  position: relative;
  margin-right: 20px;
 
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
  font-weight: bold;
  cursor: pointer;
 
}

.nav-link:hover {
  color: greenyellow;
}

.sub-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1;
  color: white;
}

.navbar-nav li:hover > .sub-nav,
.sub-menu-item.open > .sub-sub-nav,
.sub-sub-menu-item.open > .sub-sub-nav-item {
  display: block;
}

.sub-nav li {
  margin-right: 0;
}

.sub-menu-item {
  padding: 15px;
  position: relative;
}

.sub-menu-item a {
  text-decoration: none;
  color: green;
}

.sub-menu-item a:hover {
  color: greenyellow;
}

.sub-menu-item:hover .sub-sub-menu-item {
  display: block;
  background-color: #333;
  width: 150px;
  text-decoration: none;
}

.sub-sub-nav {
  text-decoration: none;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px;
  margin-top: -10px;
}

.sub-sub-menu-item {
  display: none;
  padding: 5px;
}

.sub-sub-nav-item {
  display: none;
  padding: 5px;
  width: 150px;
}

.sub-sub-nav-item.open {
  display: block;
  background-color: #333;
}

.sub-sub-nav-item a {
  text-decoration: none;
  color: green;
}

.sub-sub-nav-item a:hover {
  color: greenyellow;
}