
.navbar {
  background-color: #333;
  padding: 10px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;

 
}

.navbar-nav li {
  position: relative;
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
  font-weight: bold;
}

.nav-link:hover {
  color: #ff0;
}

.sub-nav {

  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  padding: 10px;


}

.sub-nav.open {
  display: block;
}

.sub-nav li {
  margin-right: 0;
}

.sub-menu-item {
  padding: 5px;
}

.active {
  color: #ff0;
}



.sub-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Geçiş animasyonu */
}

.sub-nav.open {
  display: block;
  opacity: 1;
}
